h1 {
    font-size: 78px;
}
body {background-color: rgb(46, 155, 104);}
p{
   color:ghostwhite
}
.amarillo{
    color:rgb(235, 228, 135)
}
.naranja{
    color:goldenrod
}
.rojo{
    color:rgb(248, 28, 94)
}